/* notun code after modifying and adding api in pritam frame*/
.search-box{

    display:flex;
    gap:10px;
    margin:20px;
}

.search-box input{

    padding:10px;
    width:300px;
    border:none;
    border-radius:10px;
}

.search-box button{

    padding:10px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.song-item{

    .song-item{

    display:flex;
    align-items:center;
    justify-content:space-between;

    gap:15px;

    padding:15px;

    margin:15px 0;

    background:#181818;

    border-radius:10px;

    flex-wrap:wrap;
}

   /* display:flex;
    align-items:center;
    gap:20px;
    margin:20px;           eta ager code before modification..all codes in green before modifcation*/ 
}

.song-item img{

    width:100px;
    border-radius:10px;
}

.song-info{

    width:200px;
}

.song-item audio{

    width:250px;

    max-width:100%;
}






